<div class="pageContent">
    <main role="main">
        <div>
            <div class="row logo-block">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <img  class="mslogo" src="../../../assets/logos/microsoft/microsoft-logo.svg" alt="Microsoft Logo"/>
                </div>
                <div class="col-lg-5">
                        <img class="lunchboxlogo" src="../../../assets/logos/hashtag/hashtaglunchbag-logo-gray-home.svg" alt="Hashtag LunchBag Logo" />
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-9">
                <div class="jumbotron">
                    <svg  viewBox="0 0 750 350" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="TV-1" transform="translate(-594.000000, -288.000000)">
                                <g id="statement" transform="translate(594.000000, 272.000000)">
                                    <g id="steps-horizontal" transform="translate(21.000000, 196.000000)">
                                        <polyline id="Path-2" stroke="#CE4159" stroke-width="4" points="0 0 0 90 116 90"></polyline>
                                        <g id="points" transform="translate(66.000000, 54.000000)">
                                            <polyline id="Path-3" stroke="#747474" stroke-width="4" points="84.3714495 34.5 278.936165 34.5 582 34.5"></polyline>
                                            <text id="Prepare" font-family="Segoe WP" font-size="38" font-weight="normal" letter-spacing="0.6412501" fill="#737373">
                                                <tspan x="271" y="104">Prepare</tspan>
                                            </text>
                                            <text id="Give" font-family="Segoe WP" font-size="38" font-weight="normal" letter-spacing="0.6412501" fill="#737373">
                                                <tspan x="567" y="104">Give</tspan>
                                            </text>
                                            <text id="Organize" font-family="Segoe WP" font-size="38" font-weight="normal" letter-spacing="0.6412501" fill="#CE4159">
                                                <tspan x="0" y="104">Organize</tspan>
                                            </text>
                                            <circle id="Oval" stroke="#737373" stroke-width="4" fill="#F2F5F7" cx="339.5" cy="34.5" r="26.5"></circle>
                                            <circle id="Oval-Copy-2" stroke="#747474" stroke-width="4" fill="#F2F5F7" cx="604.5" cy="34.5" r="26.5"></circle>
                                            <circle id="outer-glow-home" cx="75.5" cy="34.5" r="26.5"></circle>
                                            <circle id="Oval-Copy" stroke="#CE4159" stroke-width="4" fill="#CE4159" cx="75.5" cy="34.5" r="23"></circle>
                                        </g>
                                    </g>
                                    <g id="connected-experience-text">
                                        <text id="three-cities" font-family="Segoe WP" font-size="48" font-weight="normal" letter-spacing="1.111579" fill="#737373">
                                            <tspan x="0" y="52">Three cities.</tspan>
                                        </text>
                                        <text id="feeding-thousands" font-family="Segoe WP" font-size="48" font-weight="normal" letter-spacing="1.111579" fill="#737373">
                                            <tspan x="0" y="119">Feeding thousands of people.</tspan>
                                        </text>
                                        <text id="one-connected" font-family="Segoe WP" font-size="57" font-weight="800" letter-spacing="1.319999">
                                            <tspan x="0" y="198" fill="#CE4159">One </tspan>
                                            <tspan x="124.707242" y="198" letter-spacing="0.9524041" fill="#747474">Connected Experience. </tspan>
                                        </text>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                </div>
                <div class="col-lg-1 nav-block-home">
                       <div *ngIf="!isMobileDevice()"> <nav-arrow  [downArrowRoutePath]="'prepare'"></nav-arrow> </div>
                </div>

            </div>
        </div>
        <!--Mobile Begins -->
        <div id="mobile-content">
            <div id="mobile-header">
                <div class="mslogo-box-mobile">
                    <img src="../../../assets/logos/microsoft/Microsoft_logo_mobile.svg" alt="Microsoft Logo Mobile" class="mslogo-mobile">
                </div>
                <div class="lunchboxlogo-box-mobile">
                    <img src="../../../assets/logos/hashtag/hashtaglunchbag-logo-mobile.svg" alt="Microsoft Logo Mobile" class="lunchboxlogo-mobile">
                </div>
            </div>
            <div class="mobile-text-box">
                <p id="three-cities-mobile">Three locations. </p>
                <p id="feeding-thousands-mobile">Feeding thousands of people. </p>
                <p id="connected-experience-mobile">
                    <span id="connect-experience">One</span> Connected Experience. </p>
            </div>

            <hr class="mobile-line">

            <div class="mobile-content-ms">
                <p id="content-mobile">At Ready 2018, hundreds of Microsoft employees will give back through the global #HashtagLunchbag movement.
                    We’re making over a thousand lunches and delivering them to people in need in the local community. Want
                    to take part? Get started with a simple donation. </p>
            </div>
            <div class="donate-mobile-organize">
                <button class="donate-mobile" (click)="donateNow()">
                    <svg width="328px" height="50px" viewBox="0 0 328 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>button</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Mobile---Organize" transform="translate(-23.000000, -517.000000)">
                                <g id="card" transform="translate(7.000000, 8.000000)">
                                    <g id="button" transform="translate(16.000000, 509.000000)">
                                        <rect id="Rectangle-5" fill="#2FACC0" x="0" y="0" width="328" height="50" rx="7"></rect>
                                        <text id="Donate-Now" font-family=".SFNSDisplay, .SF NS Display" font-size="24" font-weight="normal" letter-spacing="0.5557895"
                                            fill="#FFFFFF">
                                            <tspan x="95" y="32">Donate Now</tspan>
                                        </text>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </main>
</div>
