@model LunchBag.Common.Models.EventSentimentModel

<tr>
    @using (Html.BeginCollectionItem("EventSentiments"))
    {
        <th scope="row">@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })</th>
        <td>@Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control", required = "required" } })</td>
        <!--<td><span onclick="$(this).parent().parent().remove();" class="glyphicon glyphicon-remove btn btn-danger btn-sm" aria-hidden="true"></span></td>-->
    }
</tr>