.chapter-box {
  border-top: 2px solid #ce4159;
  border-bottom: 2px solid #ce4159;
  color: #ce4159;
  display: inline-block;
  font-size: 3vh;
  padding: 2.5vh;
  margin-top: 3vh;
  letter-spacing: 0.43px;
}

.headerImage{
 max-width: 100%;
 min-width: 100%;
}

.lunchbagLogo {
  width: 70vw;
}

.text-slogan{
  font-size: 2vh;
}



