<svg  viewBox="-5 0 445 445" xmlns="http://www.w3.org/2000/svg">

  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TV-Main" transform="translate(-82, -148)">
          <g id="steps-vertical-v2" transform="translate(82.000000, 138.000000)">
              <path d="M33,32.2230313 L33,119.547063" id="Path-2" stroke="#CE4159" stroke-width="4"></path>
              <path d="M33,120 L33,255.003704" id="Path-2-Copy" stroke="#CE4159" stroke-width="4"></path>
              <path d="M33,278.979239 L33,380" id="Path-2-Copy-2" stroke="#CE4159" stroke-width="4"></path>
              <g id="step-3" transform="translate(13.000000, 376.000000)">
                  <circle id="Oval-Copy-2" stroke="#CE4159" stroke-width="5" fill="#CE4159" cx="20" cy="20" r="18"></circle>
                  <circle id="outer-glow"  cx="20" cy="20" r="22.5"></circle>
                  <text id="Give" font-family="Segoe WP" font-size="31" font-weight="600" letter-spacing="0.5231251" fill="#CE4159">
                      <tspan x="66" y="33">Give</tspan>
                  </text>
              </g>
              <g id="step-2" transform="translate(0.000000, 230.000000)">
                  <circle id="Oval" stroke="#9B9B9B" stroke-width="5" fill="#F3F6F8" cx="33" cy="32" r="22.5"></circle>
                  <text id="Prepare" font-family="Segoe WP" font-size="31" font-weight="400" letter-spacing="0.5231251" fill="#9B9B9B">
                      <tspan x="79" y="45">Prepare</tspan>
                  </text>
                  <circle id="inner-oval" stroke="#CE4159" stroke-width="5" fill="#CE4159" cx="33" cy="33" r="22.5"></circle>
                  <!-- <circle id="outer-glow" fill-opacity="0.335626132" fill="#CE4159" cx="33" cy="33" r="33"></circle> -->
              </g>
              <g id="step-1" transform="translate(0.000000, 95.000000)">
                  <text id="Organize" font-family="Segoe WP" font-size="31" font-weight="400" letter-spacing="0.5231251" fill="#9B9B9B">
                      <tspan x="79" y="46">Organize</tspan>
                  </text>
                  <circle id="inner-oval" stroke="#CE4159" stroke-width="5" fill="#CE4159" cx="33" cy="33" r="22.5"></circle>
              </g>
              <text id="One-Connected-Experi" font-family="Segoe WP" font-size="31" font-weight="700" letter-spacing="0.939999998">
                  <tspan x="21" y="33" fill="#CE4159">One</tspan>
                  <tspan x="80.2496875" y="33" fill="#737373"> Connected Experience</tspan>
                  <!--<tspan x="402.11707" y="33" fill="#737373">e</tspan>-->
              </text>
          </g>
      </g>
  </g>
</svg>
